.App-link {
    color: #000;
    font-size: 1.5rem;
}

.App-link:link {
    text-decoration: none;
}

.App-link:visited {
    text-decoration: none;
}

.App-link:hover {
    text-decoration: none;
}

.App-link:active {
    text-decoration: none;
}

main {
    display: grid;
    place-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li {
    padding-right: 1rem;
}

hr {
    margin-top: 0;
    color: #b7dec7;
}

form {
    min-width: 600px;
    border-radius: 6px;
    padding: 0.5rem 1rem 0 !important;
    background: white;
}

.last-input {
    margin-bottom: 12px;
}

.remember-input {
    margin-bottom: 12px;
    text-align: end;
}


form button {
    width: 25%;
    margin-left: 75%;
    margin-right: auto;
    margin-bottom: 0;
}
